@import "bootstrap/scss/bootstrap-grid";
@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed&display=swap");
@import url("https://fonts.cdnfonts.com/css/maximum-impact");

/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}
/* ====================================
// layout highliter
// ==================================== */

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

/* ====================================
// base rules
// ==================================== */

html {
  font-family: "Saira Extra Condensed", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Maximum Impact", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/* ====================================
  header */

.logo {
  max-width: 100px;
  margin-bottom: 35px;
}

@media screen and (max-width: 992px) {
  .logo {
    max-width: 40px;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  border: solid white 3px;
  display: inline-block;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 40px;
  }
}

header {
  background-color: blue;
  padding: 60px 40px;
  color: white;
}

@media screen and (max-width: 992px) {
  header {
    background-color: red;
    padding: 50px 10px;
  }
}

.header-img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .header-img {
    height: 110px;
    margin-top: 30px;
  }
}

.menu {
  font-size: 50px;
  font-family: "Maximum Impact", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
}

@media screen and (max-width: 992px) {
  .menu {
    font-size: 20px;
  }
}

.titrage {
  text-align: center;
}

/* ====================================
  main */

main {
  font-family: "Saira Extra Condensed", sans-serif;
}

h3 {
  font-size: 40px;
  margin: 40px 0;
}

.evenement {
  background-color: lightgray;
  color: black;
}

.article-evenement {
  background-color: bisque;
  min-height: fit-content;
}

.carte {
  background-color: black;
  color: white;
}

.qui-sommes-nous {
  background-color: lightgray;
  color: black;
}

.article {
  background-color: aqua;
  border: 2px solid black;
  font-size: 20px;
  position: relative;
  margin-bottom: 24px;
}

.button-plus {
  background-color: black;
  min-width: 20px;
  min-height: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
}

.button-plus::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 1.5px;
  width: 12px;
  background-color: white;
  bottom: 9.25px;
  right: 4px;
}

.button-plus::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 1.5px;
  width: 12px;
  background-color: white;
  bottom: 9.25px;
  right: 4px;
  transform: rotate(90deg);
}

.article p {
  padding: 20px;
}

.acces-complet {
  margin: 30px 0 60px 0;
  border: 2px solid black;
  padding: 10px 10px;
  text-align: center;
}

.grand {
  height: 100%;
}

.moyen-grand {
  height: 66%;
}

.moyen {
  height: 50%;
}

.moyen-petit {
  height: 33%;
}

main img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.carte {
  border-color: white;
  color: white;
}
/* ====================================
  footer */

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
  font-size: 25px;
}

footer {
  padding: 40px 0;
  color: white;
  background-color: black;
  font-size: 25px;
}
