@import "bootstrap/scss/bootstrap-grid";
@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed&display=swap");
@import url("https://fonts.cdnfonts.com/css/maximum-impact");

/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}
/* ====================================
// layout highliter
// ==================================== */

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

/* ====================================
// base rules
// ==================================== */

html {
  font-family: "Saira Extra Condensed", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Maximum Impact", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.logo {
  max-width: 100px;
}

h1 {
  font-size: 50px;
  border: solid black 3px;
}
